@font-face {
font-family: 'TisaPro';
src: url("/styles/fonts/Tisa/TisaPro-Medi.otf") format("opentype");
}

@font-face {
    font-family: 'Tisa';
    src: url("/styles/fonts/Tisa/TisaPro.otf") format('opentype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    border: none;

    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
            font-smoothing: antialiased;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    min-height: 100%;
    position: relative;
}


/*--BODY--*/

body {
    font: 400 15px/32px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #454545;
    background: #fff;
}

p {
    margin: 0 0 15px 0;
}

a {
    color: #e86d63;
    font-weight: 600;
    text-decoration: none;
}

a:hover, a:active {
    color: #53667a;
}

strong {
    font-weight: 600;
    color: #201b18;
}

h1, h2, h3, h4 {
    margin: 0 0 15px 0;
    font-weight: 600;
    color: #222;
}

h1 {font-size: 30px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 16px;}


/*--NAV--*/

#nav {
    height: 100%;
    width: 244px;
    left: -202px;
    font-size: 15px;
    line-height: 30px;
    background: #202f37 url('/images/pattern.png?1380830431');
    overflow: hidden;
    cursor: pointer;
    position: fixed;
    z-index: 9999;

    -webkit-transition: left .35s ease-out;
       -moz-transition: left .35s ease-out;
         -o-transition: left .35s ease-out;
            transition: left .35s ease-out;
}

[data-nav="open"] #nav {
    left: 0;
    cursor: default;
}

#wrapper {
    max-height: 100%;
    width: 344px;
    padding: 52px 88px 22px 44px;
    overflow-x: auto;
}

#wrapper p {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #777;
}

#wrapper ul {
    margin-bottom: 22px;
    list-style: none;
}

#wrapper li a {
    margin: 0;
    color: #fff;
}

#wrapper li a:hover {
    color: #ccc;
}

#toggle {
    height: 100%;
    width: 44px;
    right: 0;
    cursor: pointer;
    background: #393F4B url('/images/list-icon.png') no-repeat 8px 12px;
    position: absolute;
    z-index: 2222;
    
    -webkit-transition: background-color .1s linear;
       -moz-transition: background-color .1s linear;
         -o-transition: background-color .1s linear;
            transition: background-color .1s linear;
}

#toggle:hover {
    background-color: #373B3F;
}

#scrollbar {
    height: 33%;
    width: 8px;
    margin: 44px 18px;
    right: 0;
    background: #232121 url('/images/pattern.png?1380830431');;
    position: absolute;
    z-index: 1111;
    opacity: 0;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;

    -webkit-transition: opacity .35s linear;
       -moz-transition: opacity .35s linear;
         -o-transition: opacity .35s linear;
            transition: opacity .35s linear;
}

#scrollbar > span {
    height: 50%;
    width: 100%;
    background: #FFF;
    position: absolute;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

/*--OVERLAY--*/

#overlay {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 8888;
}

[data-nav="open"] #overlay {
    display: block;
}

/*--HEADER--*/

.header {
    font-family: 'TisaPro';
    width: 100%;
    background: #D2B42A;
    margin: 0 auto;
    margin-bottom: 31px;
    padding: 12px;
    padding-right:0;
    height: 372px;
    position:relative;
}

.header-image {
    background-size: cover;
    background-position: 18% 51%;
    position: relative;
    height: 213px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: -45px;
    margin-left: 0;
    margin-right: 0;
}

.container {
    width: 88%;
    max-width: 750px;
    margin: 0 auto;
    height: 108px;
    position: relative;
    padding: 4px 0 50px 44px;
}

.container h1 {
    font-size:72px;
    color:white;
}

.container h2 {
    font-family: 'Tisa';
    color: white;
    position: absolute;
    font-size: 34px;
    bottom: -48px;
}

.triangle {
    position: absolute;
    z-index: 1;
    left: 53px;
    bottom: -101px;
    border-top: 20px solid #fff;
    border-right: 31px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 32px solid transparent;
    width: 0;
    height: 0;
    border-top: 31px solid #D2B42A;
}

/*--MAIN--*/



#main {
    width: 85%;
    max-width: 684px;
    margin: 0 auto;
    padding: 4px 0 50px 44px;
    
    -webkit-transition: opacity .35s ease-out;
       -moz-transition: opacity .35s ease-out;
         -o-transition: opacity .35s ease-out;
            transition: opacity .35s ease-out;
}

[data-nav="open"] #main {
    opacity: .35;
}

#main p {
    word-wrap: break-word;
}

#main > div {
    margin-bottom: 30px;
}

#main img {
    max-width: 100%;
    display: block;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

/*RESPONSIVE*/

@media screen and (max-width:599px) {
    .divider {
        height:115px;
    }
}

@media screen and (max-width:720px) {
    * {
        margin-right:0px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 17px;
    }

    .header-image {
        height:100px;
    }

    .header {
        height:200px;
        width:100%;
    }

    .header h1 {
        font-size: 34px;
        margin-top: -24px;
    }

    .header h2 {
        font-size: 20px;
        line-height:22px;
        margin-bottom: 63px;
    }

    .triangle {
        display:none;
    }
}


